.friends__container {
    margin-top: 70px;
    padding: 0 10px;
}
.friends__title {
    padding-left: 40px;
    color: #98989b;
    font-size: 26px;
}
.friends__list {
    display: flex;
    column-gap: 10px;
}