.header {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    background-color: #1a1919;
}
.header__container {
    display: flex;
    align-items: center;
    width: 1220px;
    margin: 0 auto;
}
.header__logo {
    width: 100px;
}
.header__title_h1 {
    color: #98989b;
}
.header .login-container {
    margin: 0 0 0 auto;
}
.header .login {
    color: white;
    text-decoration: none;
    font-size: 20px;
}