.menu {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #2a2929;
}
.list {
    margin: 0;
    padding: 30px 15px;
}
.list>*:not(:last-child) {
    padding-bottom: 15px;
}
.item {
    list-style: none;
    font-size: 18px;
}
.item a {
    color: #98989b;
    text-decoration: none;
}
.item a:hover {
    color: #812c81;
}
/*.menuActiveLink {*/
/*    color: #ab44ab;*/
/*}*/