.container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.pagination li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 5px 10px;
    list-style: none;
    cursor: pointer;
    color: white;
}
/*.pagination .selected-page {*/
/*    background-color: #ab44ab;*/
/*    color: black;*/
/*    border-radius: 50px;*/
/*}*/