.messages {
    margin: 10px 0;
    padding: 13px 20px;
    max-width: 300px;
    border: 1px solid #2c2a2a;
    border-radius: 20px;
    background-color: #4f4d4d;
    white-space: break-spaces;
    font-size: 16px;
    color: #b4b4b7;
}